# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\szilard\egyetem2\adatszerkesalg\dsa_PalSzilard_autC\labor10\dinamikuslista\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
